@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('./responsive.css');
@import url('./patterns.css');

*{
    color: white;
}
body{
    /* background-color: #011126; */
    padding-left: 20px;
    padding-right: 20px;
}
h2{
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: #81b4f7;
    font-family: 'Mynerve', cursive;
    font-size: 30 rem;
    font-weight: 800;
    text-transform: uppercase;

}
a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
a:hover{
    background-color: transparent;
    color:white;
    font-weight: 800;
}
p{
    padding-left:2rem ;
    padding-right:2rem ;
    padding-bottom: 1rem;
}
ul{
    list-style: none;
}
.card{
    background-color: #011126;
}
.card:hover{
    cursor: pointer;
    box-shadow: 10px 10px #7ac2f022;
    transform: translateX(-10px);
    transform: translateY(-10px);
}
.card::after{
    content: none;
}
h6{
    text-align: center;
    font-size: x-large;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.w-30{
    width: 30%;
}
.editor-style{
    background-color: #101726;
    border:none;
    padding-left: 2rem;
}
.reserved{
    color: aqua;
}
.variable{
    color: #95BF6B;
}
.symbol{
    color: crimson;
}
.commentary{
    color: gray;
}
.value{
    color: lightblue;
}
